
# Desc: Player sample configuration file for controlling Stage devices
# Date: 18 Apr 2003
# CVS: $Id: everything.cfg,v 1.34 2007-03-26 19:54:36 gerkey Exp $


driver
(		
  name "stage"
  provides ["simulation:0"]
  plugin "stageplugin"
  worldfile "myworld.world"	
)

# robot 0
driver( 
 name "stage"
 provides [ "position2d:0" "ranger:0" "ranger:1"] 
 model "r0" 
)

# use Player's provided ranger-to-laser conversion driver so that the
# Player demo examples/libplayerc++/laserobstacleavoid will work as a demo.
driver
(
  name "rangertolaser"
  provides [ "laser:0" ]
  requires [ "ranger:1" ]
)
